{% extends "main_app/base.html" %}
{% block content %}
{% load l10n %}

<div class="card">

    <div class="card-body">
        <h5 class="card-title">Διαχείριση Προσωρινών Κενών COVID-19</h5>
        {% if entries|length == 0 %}
        <p class="card-text">
        Δεν υπάρχουν κενά COVID-19 καταχωρημένα αυτή τη στιγμή στη σχολική σας μονάδα.
        </p>
        {% else %}
        <p class="card-text">Παρακάτω εμφανίζονται τα τρέχοντα (προσωρινά) κενά της μονάδας σας λόγο νόσησης απο COVID-19. </p>


        <table class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Α.Μ.</th>
                <th scope="col">Επώνυμο</th>
                <th scope="col">Όνομα</th>
                <th scope="col">Ειδικότητα</th>
                <th scope="col">Ώρες</th>
                <th scope="col">Ημ/νια Νόσησης</th>
                <th scope="col">Ημ/νια Πιθανής Επιστ. </th>
                <th scope="col">Ενέργειες</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
            <tr>
                <td><strong>{{ forloop.counter }}</strong></td>
                <td> {{ entry.teacher_registry }}</td>
                <td> {{ entry.teacher_surname }}</td>
                <td> {{ entry.teacher_name }}</td>
                <td> {{ entry.specialty.code }} - {{ entry.specialty.lectic }}</td>
                <td> {{ entry.hours }}</td>
                <td> {{ entry.illness_started|date:"d M Y" }}</td>
                <td> {{ entry.illness_end_estimation|date:"d M Y" }}</td>
                <td>
                    <a href="{% url 'covid19:covid19_entry_detail' entry.pk %}" class="btn btn-success btn-sm" role="button">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    &nbsp;
                    <a href="{% url 'covid19:covid19_entry_delete' entry.pk %}" class="btn btn-danger btn-sm" role="button">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <a href="{% url 'covid19:covid19_entry_create' %}" class="btn btn-primary">Προσθήκη Κενού COVID-19</a>
    </div>
</div>


{% endblock content %}