{% extends "main_app/base.html" %}
{% block content %}
    <div class="content-section">
        {% if user.is_authenticated %}
            {% if not user.is_superuser %}
                {% if user.profile.verified %}
                    <h4 class="article-title">Αρχική σελίδα χρήστη</h4>
                {% else %}
                    <h4 class="article-title">Δεν έχει γίνει η επαλήθευση του χρήστη.</h4>
                {% endif %}
            {% else %}
                <h4 class="article-title">Αρχική σελίδα Διαχειριστή</h4>
            {% endif %}
        {% else %}
            <h4 class="article-title">Αρχική σελίδα για μη συνδεδεμένους χρήστες</h4>
        {% endif %}
    </div>
{% endblock content %}
