{% extends "main_app/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <h3>Πληροφορίες για το Σχολείο</h3>

        <table class="table">
            <tbody>
            <tr>
                <td style="width: 40%">Σχολείο</td>
                {% if user.profile.verified %}
                    <td>{{ school.name }}</td>
                {% else %}
                    <td>Δεν έχει γίνει η επαλήθευση του χρήστη.</td>
                {% endif %}
            </tr>
            <tr>
                <td>Επαληθεύτηκε από τη ΔΔΕ</td>
                <td>
                    {% if user.profile.verified %}
                        Ναι
                    {% else %}
                        Όχι
                    {% endif %}
                </td>
            </tr>
            {% if school_requires_class_info %}
            <tr>
                <td>Πληροφορίες Τμημάτων</td>
                <td>
                    {% if school_has_class_info %}
                    Υπάρχουν πληροφορίες τμημάτων, τελευταία ενημέρωση στις {{ school_class_info.last_updated|date:"d/m/Y H:i" }}
                    {% else %}
                    <strong>Δεν έχουν καταχωρηθεί πληροφορίες τμημάτων</strong>
                    {% endif %}
                </td>
            </tr>
            {% endif %}

            <tr>
                <td>Έγινε επικαιροποίηση</td>
                <td>
                    {% if user.profile.status %}
                        Ναι
                    {% else %}
                        Όχι
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Τελευταία επικαιροποίηση</td>
                <td>
                    {% if user.profile.status %}
                        {{ user.profile.status_time|date:'Y-m-d@H:i' }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
