{% extends "main_app/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h3 class="article-title">Σχετικά</h3>
            <p></p>
            <p>
                Η εφαρμογή καταχώρισης κενών έχει δημιουργηθεί από το τμήμα Ανάπτυξης 
                Λογισμικού της <a href="http://dide.ira.sch.gr">Διεύθυνσης Δευτεροβάθμιας 
                Εκπαίδευσης Ηρακλείου Κρήτης</a>.
            <p>
                Για την ανάπτυξη της εφαρμογής έχουν χρησιμοποιηθεί αποκλειστικά τεχνολογίες και 
                εργαλεία ανοιχτού λογισμικού.
            </p>
            <p>
                Σε περίπτωση που εντοπίσετε σφάλμα στην εφαρμογή ή θελετε να κάνετε κάποιο σχόλιο
                για την λειτουργία της, παρακαλώ επικοινωνήστε με το τμήμα Ανάπτυξης Λογισμικού 
                στο τηλέφωνο <strong>2810 333777</strong> ή στείλτε μήνυμα στο 
                <a href="mailto:swdd@ira.sch.gr">swddira@sch.gr</a>. 
            </p>
        </div>
    </article>
{% endblock content %}
