{% extends "main_app/base.html" %}
{% load static %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h3 class="article-title">Εγχειρίδιο Χρήσης</h3>
            <p></p>
            <p>
                Για τη διευκόλυνση των σχολικών μονάδων ως προς τη χρήση της εφαρμογής,
                έχουμε συντάξει τον παρακάτω <a href="{% static 'main_app/user-guide.pdf' %}">σύντομο οδηγό χρήσης</a>
                τον οποίο σας συστήνουμε να διαβάσετε.
            </p>
        </div>
    </article>
{% endblock content %}
