{% extends "main_app/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Διαγραφή Ιστορικού Καταχωρίσεων</legend>
                Η διαγραφή του ιστορικού των καταχωρίσεων των σχολείων πραγματοποιείται πριν το ξεκίνημα του νέου
                σχολικού έτους. Θέλετε να συνεχίσετε ;
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Ναι, διαγραφή</button>
                <a class="btn btn-outline-secondary"
                   href="{% url 'history:history' %}">Επιστροφή</a>
            </div>
        </form>
    </div>
{% endblock content %}
