{% extends "main_app/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h3 class="article-title">Έλεγχος Χρηστών-Σχολικών μονάδων</h3>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
            <ul style="list-style-type:none; padding: 0;">
                <li class="alert alert-success" style="margin: 1px;">
                    Χρήστες-Σχολικές μονάδες που έχουν επαληθευτεί: {{ p_verified_users|length }}
                </li>
                <li class="alert alert-danger" style="margin: 1px;">
                    Σχολικές μονάδες που δεν έχουν συνδεθεί με χρήστη: {{ not_connected_schools|length }}
                </li>
            </ul>
        </div>
    </article>

    {% if p_verified_users|length != 0 %}
        <article class="media content-section">
            <div class="media-body">
                <h4 class="article-title">Χρήστες-Σχολικές μονάδες που έχουν επαληθευτεί</h4>
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>
                                <nobr>Α/Α</nobr>
                            </td>
                            <td>Σχολείο</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in p_verified_users %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td> {{ p.user.last_name }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    {% endif %}

    {% if not_connected_schools|length != 0 %}
        <article class="media content-section">
            <div class="media-body">
                <h4 class="article-title">Σχολικές μονάδες που δεν έχουν συνδεθεί με χρήστη</h4>
                <div>
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    <nobr>Α/Α</nobr>
                                </th>
                                <th>Σχολείο</th>
                                <th>Διευθυντής</th>
                                <th>Τηλέφωνο</th>
                                <th>Πληροφορίες</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for s in not_connected_schools %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td> {{ s.name}}</td>
                                <td> {{ s.principal|default:'-'|truncatechars:30 }} </td>
                                <td> {{ s.phone|default:'-'|truncatechars:13 }} </td>
                                <td style="text-align: center">
                                    <a href="{% url 'schools:school_detail' s.id %}">
                                        <button type="button" class="btn btn-success btn-sm mt-1 mb-1" aria-label="Left Align" 
                                        data-toggle="tooltip" data-placement="top" title="Πληροφορίες Σχολικής Μονάδας">
                                            <span class="bi-info" aria-hidden="true"></span>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    {% endif %}

    {% if p_not_verified_users|length != 0 %}
        <article class="media content-section">
            <div class="media-body">
                <h4 class="article-title">Χρήστες που έχουν κάνει εγγραφή αλλά δεν έχουν επαληθευτεί</h4>
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>
                                <nobr>Α/Α</nobr>
                            </td>
                            <td>Χρήστης</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in p_not_verified_users %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td> {{ p.user }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    {% endif %}
{% endblock content %}
